.footer {
  padding-top: 30px;
  background-color: #7bafd4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
  line-height: 1.5em;
}
.last a {
  line-height: 1.7em;
}
.rest-footer {
  display: grid;
  line-height: 1.5em;
  column-gap: 50px;
  padding-left: 40px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.first {
  padding-left: 60px;
}
header {
  font-family: monospace;
  font-size: 20px;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
}
header a {
  text-decoration: none;
}

header a:hover {
  color: white;
}
.instagram a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
}

.header a {
  padding: 7.5px 15px;
  background: #7bafd4;
  border: 1px #006d6d solid;
  border-radius: 50em;
  color: black;
}
.log {
  display: block;
  margin: auto;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 30px;
  text-align: justify;
}
blockquote {
  text-align: center;
}
.videoWrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
h2 {
  color: #0c92f1;
}
blockquote {
  color: #0c92f1;
  text-shadow: #7bafd4;
}
@media only screen and (max-width: 480px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
  .wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 481px) and (max-width: 786px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    width: 100%;
  }
  .wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
